html {
    touch-action: manipulation;
  }
main{
    width: 100%;
    font-size: 5vw;
    margin: 0 auto;
}
#wrapper{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    background-color: aquamarine;
}
h2{
    font-weight: bold;
    padding: 10px 0;
}
dl{
    width: 100%;
    margin-top: 5px;
}
dt,dd{
    width: 100%;
}
.dd_input{
    position: relative;
}
.inp{
    margin:0 0 auto;
    width: 100%;
    min-width: 300px;
    height: calc(8.5vw + 0.1vw);
    line-height: calc(8.5vw + 0.1vw);
    font-size: 7.5vw;
    background-color: white;
    border: 0.1vw black solid;
}
input{
    display: inline-block;
    width: calc(100% - 8.5vw);
    height: 8.5vw;
    line-height: 8.5vw;
    vertical-align: middle;
    margin:0 auto;
    background-color: transparent;
    border: none;
    color: black;
}
.ko{
    display: inline-block;
    height: 8.5vw;
    width: 8.5vw;
    vertical-align: middle;
    text-align: center;
}
.tenkey{
    position:absolute;
    z-index: 10;
}
.tenkey-hidden{
    visibility: hidden;
}
table{
    width: 100%;
    min-width: 300px;
    table-layout:fixed;
    font-size: 6vw;
}
td,tr{
    height: max(10vw , 10vh);
    border: max(0.5vw , 1px),orange,solid;
    text-align: center;
    background-color: beige;
    vertical-align:middle;
    touch-action: manipulation;
}
.td_C{
    background-color: pink;
}
.td_return{
    background-color: aqua;
}
.td_get{
    background-color: Gold;
}
.recommend{
    width: 100%;
}
.recommend input{
    width: 100%;
}
.recommend span{
    display: none;
}

button{
    display: block;
    margin:5vh auto;
    width: 15vw;
    height: calc(8.5vw + 0.1vw);
    line-height: calc(8.5vw + 0.1vw);
    font-size: 5vw;
    color: white;
    background-color:cornflowerblue;
    border: 0.1vw black solid;
    text-align: center  ;
    border-radius:calc((8.5vw + 0.1vw) / 2);
}

.reset {
    width: 25vw;
}

.drawpad{
    text-decoration: underline;
}

.tab-off{
    display: none;
}