html {
    touch-action: manipulation;
    font-size: 40px;
  }
main{
    width: 100%;
    max-width:1200px ;
    margin: 0 auto;
}
#wrapper{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    background-color: aquamarine;
}
h2{
    font-weight: bold;
    padding: 10px 0;
}
dl{
    width: 100%;
    margin-top: 5px;
}
dt,dd{
    width: 100%;
}
.dd_input{
    position: relative;
}
.inp{
    margin:0 auto;
    width: 100%;
}
input{
    display: inline-block;
    width: calc(100% - 50px);
    height: 50px;
    margin:0 auto;
    background-color: white;
    border: 1px black solid;
    color: black;
}
.ko{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height:50px;
    text-align: center;
    background-color:ghostwhite;
    border: 1px black solid;
}
.tenkey{
    position:absolute;
    z-index: 10;
}
.tenkey-hidden{
    visibility: hidden;
}
table{
    width: 100%;
    table-layout:fixed;
}
td,tr{
    height: 50px;
    line-height:50px;
    border: 1px,orange,solid;
    text-align: center;
    background-color: beige;
}
.td_C{
    background-color: pink;
}
.td_return{
    background-color: aqua;
}